---
layout: default
---

 <!-- header-banner -->
    <div id="header-banner" class="demo-1">
        <div class="banner-content text-center">
            <div class="banner-info">
                <h1>studio ZOO</h1>
                <p>Webdevelopment on steroids</p>
            </div><!-- / banner-info -->
        </div><!-- / banner-content -->
    </div>
    <!-- / header-banner -->
<section id="portfolio">
    <div class="container">
 <div class="page-header no-margin text-center">
            <h2>LATEST PROJECTS</h2>
        </div>
        <p class="text-center">Sed imperdiet vitae ipsum a tincidunt. Vivamus id ligula turpis. Duis viverra arcu quis.</p>

 <ul class="row portfolio list-unstyled lightbox" id="grid">

{% for item in site.portfolio %}

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["illustration"]'>
                <div class="img-bg-color primary">
                    <a href="{{ item.url }}" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="{{ item.image_path }}" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="{{ item.url }}" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="{{ item.image_path }}" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">{{ item.title }}</h5>
                        <p class="skill">{{ item.skills }}</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->
          {% endfor %}

            <!-- sizer -->
            <li class="col-xs-6 col-md-4 shuffle_sizer"></li>
        </ul> <!-- / projects -->
    </div><!-- / container -->

</section>
<!-- / portfolio section -->


<section id="blog-small">
    <div class="container">
        <div class="page-header no-margin text-center">
            <h2>LATEST POSTS</h2>
        </div>
        <p class="text-center">{{ post.content }}</p>
        <div class="row">
            {% for post in site.posts %}
                  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

            <!-- post-block -->
            <div class="col-sm-4">
                <div class="post-block">
                    <a href="{{ post.url | relative_url }}"><img src="{{ post.image_path }}" alt=""></a>
                    <div class="small-post-text">
                        <h5><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h5>
                        <p class="small-post-meta">{{ post.date | date: date_format }}</p>
                        <p class="space-bottom">{{ post.description }}</p>
                        <p class="small-post-footer">
                            <a href="{{ post.url | relative_url }}">READ MORE</a>
                            <span class="post-icons pull-right">
                                <a href="#x"><i class="lnr lnr-thumbs-up"></i></a>
                                <a href="#x"><i class="lnr lnr-bubble"></i></a>
                            </span>
                        </p>
                    </div><!-- / small-post-text -->
                </div><!-- / post-block -->
            </div><!-- / col-md-4 -->
            <!-- / post-block -->
            {% endfor %}

        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / blog section 3col -->

<!-- / content -->

